.navbar-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-menu li {
  display: inline-block;
}

#menu a {
  text-decoration: none;
}

#menu li {
  padding: 0em 0.5em 0em;
  width: 7em;
  text-align: center;
}

#menu li.menu-brand {
  width: 10em !important;
  vertical-align: middle;
}

/* Change the color of links on hover */
#menu li.menu-link:hover {
  opacity: 60%;
}

/* dropdown menu is shown */
@media (max-width: 949px) {
  #menu li.menu-brand {
    display: none !important;
  }

  .menu-toggle ~ #menu li {
    display: none;
  }

  .menu-toggle ~ #menu li:first-child {
    display: inline-block;
  }

  .menu-toggle:checked ~ #menu li {
    display: block;
  }
}

/* dropdown menu is hidden */
@media (min-width: 950px) {
  #menu li.menu-brand {
    display: inline-block !important;
  }

  .navbar-menu li {
    display: inline-block;
  }

  .navbar-menu li:first-child {
    display: none;
  }
}

.menu-toggle-label {
  cursor: pointer;
}

.menu-toggle-icon {
  vertical-align: middle;
}

.menu-link {
  color: var(--theme-bg);
  opacity: 1;
}

.menu-link:hover {
  color: var(--theme-fg-accent);
  opacity: 1;
}
