:root {
  --theme-bg: #1f021d;
  --theme-bg-accent: #fcc402;
  --theme-fg: #fed317;
  --theme-fg-accent: #eeeeee;
  --theme-text: #eeeeee;
  --theme-link: #fcc402;
  --theme-link-hover: #f3e192;
  --theme-h1: #eeeeee;
  --theme-h2: #eeeeee;
  --theme-h3: #41024c;
  --nav-bg: #000000;
}

body {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  min-height: 100%;
}

button {
  background-color: var(--theme-fg);
  color: var(--theme-text);
}

nav {
  background: var(--theme-text);
}

a {
  color: var(--theme-link);
}

h1 {
  color: var(--theme-h1);
}

h2 {
  color: var(--theme-h2);
}

h3,
h4,
h5,
h6 {
  color: var(--theme-h3);
}

