:root {
  --theme-bg: #41024c;
  --theme-bg-accent: #111111;
  --theme-fg: grey;
  --theme-fg-accent: grey;
  --theme-text: #fed317;
  --theme-link: slateblue;
  --theme-link-hover: slateblue;
  --theme-h1: #41024c;
  --theme-h2: #41024c;
  --theme-h3: #41024c;
  --theme-switch-shadow: #fce477;
  --theme-toggle-text: 'dark';
}

.theme-toggle-label {
  padding: 1em;
  cursor: pointer;
  display: flex;
}

.theme-toggle-label::before {
  transition: text-shadow .2s;
}

.theme-toggle-label::after {
  color: var(--theme-switch-shadow);
  content: var(--theme-toggle-text);
}

.theme-toggle-label:hover::before,.theme-toggle:focus~#themed .theme-toggle-label::before {
  text-shadow: 0 0 15px var(--theme-switch-shadow);
}

#themed {
  background-color: var(--theme-bg);
  color: var(--theme-text);
  min-height: 100%;
}

nav {
  background: var(--theme-bg);
  color: var(--theme-text);
}

nav a {
  color: var(--theme-text);
}

a {
  color: var(--theme-link);
}

h1 {
  color: var(--theme-h1);
}

h2 {
  color: var(--theme-h2);
}

h3,h4,h5,h6 {
  color: var(--theme-h3);
}
